.header {
    margin-top: 80px; /* Topbar'ın yüksekliğine eşitledik */
    position: relative; /* Pozisyonu ekledik */
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    z-index: 999;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
